<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


        <div>
            {{plots[0] | safe}}
        </div>
        <div>
            {{plots[1] | safe}}
        </div>
        <div>
            {{plots[2] | safe}}
        </div>
        <div>
            {{plots[3] | safe}}
        </div>
        <div>
            {{plots[4] | safe}}
        </div>

        <form class="form-inline" method="POST" action="{{ url_for('index') }}#target" id="target">
            <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon">Please select</span>
                      <select name="country" class="selectpicker form-control">
                        {% for name in country_names %}
                            {% if name == selection %}
                                <option value="{{ name }}" selected>{{ name }}</option>
                            {% endif %}

                        <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                      </select>
              </div>
              <button type="submit" class="btn btn-default">Go</button>
            </div>
        </form>
        
        <div>
            {{plots[5] | safe}}
        </div>
        <div>
            {{plots[6] | safe}}
        </div>
        <div>
            {{plots[7] | safe}}
        </div>
        <div>
            {{plots[8] | safe}}
        </div>

        <div>
            {{tables[0] | safe}}
        </div>
        <div>
            {{tables[1] | safe}}
        </div>
        <div>
            {{tables[2] | safe}}
        </div>
        <div>
            {{tables[3] | safe}}
        </div>
        
    </body>
</html>