<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


        <div>
            {{plot1 | safe}}
        </div>
        <div>
            {{plot2 | safe}}
        </div>
        <div>
            {{plot3 | safe}}
        </div>
        <div>
            {{plot4 | safe}}
        </div>
        <div>
            {{plot5 | safe}}
        </div>
        <div>
            {{plot6 | safe}}
        </div>
        <div>
            {{plot7 | safe}}
        </div>
        <div>
            {{plot8 | safe}}
        </div>
    </body>
</html>